body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

//variables
@mainColor : #70C637;
.header{
  font-size: 25px;
  font-weight:bold;
  color: #fff;
  text-shadow: #4a4a4a 3px 2px;
  cursor: pointer;
  background-color: @mainColor;
}
.tree{
  background-image: url('../images/header.png');
}
.code-run{
  background-color: lighten(lightgrey,10%);
}
.task-name{
  text-align: center;
  font-size: 25px;
  padding: 5px;
  color: #00B7FF;
  line-height: 1;
  font-weight: 400;
  font-family: "Verdana","Palatino", "Lucina", sans-serif;
}
.webix_tree_item.webix_selected span{
  color: #268fd5;
  background-color: transparent;
  font-weight:bold;
}
.webix_tree_folder{
  background-image: url("../images/folder-close-small.png");
  width:30px;
  height:30px;
}

.webix_tree_folder_open{
  background-image: url("../images/folder-open-small.png");
  width:30px;
  height:30px;
}
.webix_tree_file{
  background-image: url("../images/question-icon-small.png");
}